<h3 class"h3" align="center"> Create a New Course</h3>
  <form action="/courses/new" method="post" align="center">
    <input type="text" placeholder="name" class="form-control" id="courses_name" name="course[name]"><br>
    <input type="text" placeholder="Department" class="form-control" id="courses_department" name="course[department]"><br>
    <input type="text" placeholder="Class ID" class="form-control" id="courses_class_id" name="course[class_id]"><br>
    <br><input type="submit" value="Submit" class="form-control">
    </form>
   <br>
  <br>


  