<!DOCTYPE html>

<html>
<head>
	<title>Terrible with lots of effort</title>
   
	<link rel="stylesheet" type="text/css" href="/application.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jumbotron.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

 <script language="javascript" type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- <script language="javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.js"></script> -->
</head>

<body>




<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" rel="home" href="/courses/main">Courses</a>
    <a class="navbar-brand" rel="home" href="/subjects/main">Subjects</a>
    <a class="navbar-brand" rel="home" href="/professors/main">Professors</a>
    
	</div>
	



            
           

        <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
             </ul>
           </li>
          </ul>
			</div>	
	</div>
</div>
<!-- <script language="javascript" type="text/javascript" src="/js/bootstrap.min.js"></script> -->

<%= yield %>

	 
 </body>
</html>
