<h3 class"h3" align="center"> Enter A new School! </h3>
  <form action="/subjects/new" method="post" align="center">
    <input type="text" placeholder="name" class="form-control" id="subjects_name" name="subject[name]"><br>
    <input type="text" placeholder="Department" class="form-control" id="subjects_department" name="subject[professor]"><br>
    <input type="text" placeholder="Class ID" class="form-control" id="subjects_class_id" name="subject[class_id]"><br>
    <br><input type="submit" value="Submit" class="form-control">
    </form>
   <br>
  <br>
