
<h3 class"h3" align="center"> Enter A new School! </h3>
  <form action="/professors/new" method="post" align="center">
    <input type="text" placeholder="name" class="form-control" id="professors_name" name="professor[name]"><br>
    <input type="text" placeholder="Teaches" class="form-control" id="professors_department" name="professor[teaches]"><br>
    <input type="text" placeholder="Department" class="form-control" id="professors_class_id" name="professor[department]"><br>
    <br><input type="submit" value="Submit" class="form-control">
    </form>
   <br>
  <br>
